@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');

*{ padding:0%;
    box-sizing: border-box;
    margin : 0%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 2% 3%;
    /* width: 100%; */
    
}

.toplist{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    color: #041330;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Halant'

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#155EEF, #F9FBFF;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 64px 32px;
    margin: 0.5% 3%;
        
}

.left{
    width: 55%;
}
.right{
    width: 35%;
}
.container2{
    display: flex;
    flex-direction: row;
    background:#155EEF, #F9FBFF;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 64px 32px;
    margin: 3% 3%;
    align-items: center;
    justify-content: space-between;   
}

.home,.about{
    color: #041330
}

.welcome{
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2E3A53;

}
a{
    text-decoration: none;
}
.hire{
    border: 1px solid blue;
    border-radius: 8px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* letter-spacing: 0.5px; */
    color: #155eef;
    background-color: white;
    cursor: pointer;
    width: 94px;
    height: 44px;
    padding: 10px 16px;

}
.aboutme{
font-family: Halant;
font-size: 40px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: #041330;

}
.experience{
font-family: Manrope;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.5px;
text-align: justified;
color:#2E3A53;

}

.seemyprojects{
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    background: #155eef;
    border-radius: 8px;
     color: #ffffff;
    width: 30%;
    padding: 2% 2.5%;
     cursor: pointer;
}

    
.left1{
    width: 40%;
}

.right2{
    width: 50%;
}
.welcome{
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.sammy{
    font-family: Halant;
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    color: #155EEF;

}
.developer{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2E3A53;

}

.pixboy{
    width: 100%;
}

.teal{
    width: 95%;
}

.container3{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    position: relative;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin:0.5% 3%;
    padding: 8% 2% 2% 5%;
}
.projects{
    font-family: Halant;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #041330;
}
li, .complete{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2E3A53;
}
li{
    padding-bottom: 2%;
}
ul{
    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2E3A53;
    width: 90%;

}

.left3{
    position: absolute;
    top: 5%;
    left: 3%;
    /* z-index: -4; */
    /* box-sizing: content-box; */
    border-radius: 8px;
    width: 55%;
    padding: 5% 3%;
    background: #f9fbff;     

 }
.ul{
    padding-left: 5%;
}


.right3{
    width: 55%;

}
.pixboy2{
    width: 100%;
}

    /* width:40%; */
    
.container3{
    display: none;
}
.vector{
    display: none;
}
.logomobile{
    display: none;
}
.d2{
    display: none;
}
.sammyjmobile{
    display: none;
}
 
.footerdesktop{
    display: flex;
    justify-content: space-between;
    /* gap: 22%; */
    align-items: center;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 3% 3%;
}
.downlist{
    display: flex;
    /* justify-content:space-between; */
    /* width: 15%; */
    align-items: justify;
    gap: 45%;
}
.downlist img{
    /* margin-left: 20px; */
}
.logo img{
    width: 100%;
}
.logo{
    width: 15%;
}
.sammyj{
    font-family: Manrope;
    font-size: 150%;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.5px;
    /* text-align: left; */
    color:#041330;
    /* width: 30%; */
}
.footermobile{
    display: none;
}
@media screen and (max-width: 398px) {
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .left1{
        width: 100%;
    }
    .right2{
        width: 100%;
    }
    .toplist{
        display: none;
    }
    .vector{
        display: block;
    }
    .container{
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
    }
    .welcome{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .sammy{
        font-size: 32px;
        line-height: 38.4px;
        text-align: center;
    }
    .developer{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5px;
        /* line-height: 24px; */
        text-align: center;
        /* width: 90%; */
    }
    .seemyprojects{
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }
    .teal{
        width: 100%;
    }
    .container2{
        display: flex;
        flex-direction: column-reverse;
        border: 1px solid blue;
        gap: 24px;
        padding: 5% 3%;
    }
    .aboutme{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding-bottom: 3%;
    }
    .experience{
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
    }
    .pixboy{
        width: 100%;
    }
    .footerdesktop{
        display: none;
    }
    .footermobile{
     display: block;
     align-items: center;
    border: 1px solid #155eef;
    border-radius: 8px;
    padding: 2% 3%;
    margin: 3% 3%;
}
.dl2{
    display: flex;
    justify-content: space-between;
}
.downlist{
    display: flex;
    /* justify-content:space-between; */
    width: 40%;
    align-items: center;
    gap: 15%;
}
.downlist img{
    width: 100%;
}
.logo img{
    width: 100%;
}
.logo{
    width: 50%;
}
.sammyj{
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align:  center;
    color:#041330;
    margin: 0 auto;
    width: 50%;
}
.sj{
    margin: o auto;
    width: 90%;
    text-align:  center;
}
}

    